<div>
  <%= render 'filter_form' %>  
</div>

<div>
  <h1>Properties</h1>
</div>

<table class="table table-bordered">
  <thead>
    <th>Property</th>
    <th>Value</th>
  </thead>
  <tbody id="result"></tbody>
</table>
