// Place all the styles related to the store_resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-margin{
  margin-top: 100px;
}

.home-page.tab-content{
  margin-top: 50px;
}

form{
  .progress {
    line-height: 15px;
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
    margin-bottom: 0px;
    div {
    font-size: smaller;
    background: orange;
    width: 0;
  }
  }

  .upload-info{
  margin-top: 20px;
  }  
}